<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023013249912-85u0ajcvdgsgp4of2493512tc230aval.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023013249912-85u0ajcvdgsgp4of2493512tc230aval</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnr5DcSCF9CWXN8OG8ZzTGNB1HnSmzhA</string>
	<key>GCM_SENDER_ID</key>
	<string>1023013249912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marisanif21a.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>marisanapp-33310</string>
	<key>STORAGE_BUCKET</key>
	<string>marisanapp-33310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023013249912:ios:677ef01aea61b4c2de1e8d</string>
</dict>
</plist>